body{
	/*background-image: url(images/mainBackground.jpg);*/
	background-size:cover;
	background-attachment:fixed;
	background-position: center;
	background-color: #333333;
	background-repeat: no-repeat;
}
h1{
	color: #FFFFFF;
	font-family: Verdana, Geneva, sans-serif;
	margin:0px
}
h2{
	color: #FFFFFF;
	font-family: Verdana, Geneva, sans-serif;
}
h3{
	color: #FFFFFF;
	font-family: Verdana, Geneva, sans-serif;
}
p{
	color: #FFFFFF;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 1.2em;
	text-align: left;
	margin:0px;
}
a{color: #FFFFFF;}
a:visited{color: #cc9900}
/*--------------------------------------------------------------------*/
#title{
	/*background-image: ;*/
	background-size:cover;
	background-position: center;
	width: 90%;
	background-color: #000000;
	margin: auto;
	border-style: ridge;
	border-color: #FFFFFF;
	border-radius: 20px;
	min-width: 500px;
}
#title td{
	padding-left:10px;
}
#title table{ 
    margin-left: auto;
    margin-right: auto;
}
/*--------------------------------------------------------------------*/
#flexContainer{
	display: -webkit-flex;
	display: flex;
	justify-content: center;
}
/*--------------------------------------------------------------------*/
#leftBar{
	margin-top: 0;
	border-style: ridge;
	border-color: #FFFFFF;
	border-radius: 20px;
	background-color: #000033;
	flex-grow: 1;
}
/*--------------------------------------------------------------------*/
#content{
	margin-top: 0;
	border-style: ridge;
	border-color: #FFFFFF;
	border-radius: 20px;
	background-color: #000033;
	flex-grow: 4;
	padding:10px;
}
#content h1{
	text-align: center;
}
#content table, th, tr, td{
	color: #FFFFFF;
}
#content table{
	width: 100%;
	border-style: ridge;
	border-color: #FFFFFF;
	border-radius: 20px;
	padding: 5px;
}
#content table:hover{background-color: #000066;}
#content th{
	font-size: 24px;
	text-align: left;
}

/*--------------------------------------------------------------------*/
#rightBar{
	border-style: ridge;
	border-color: #FFFFFF;
	border-radius: 20px;
	background-color: #000033;
	flex-grow: 1;
	padding: 5px;
	max-width:40%
}
/*--------------------------------------------------------------------*/
.nav{
	color: #FFFFFF;
	font-size: 1.5em;
	font-family: Verdana, Geneva, sans-serif;
	font-weight: bold;
	text-align: left;
	display: inline;
}
.nav ul{padding:0px;}
.nav li{
	list-style: none;
	padding:10px;
}
.nav a{text-decoration: none;}
.nav a:hover{color:#cc9900}
/*--------------------------------------------------------------------*/
.smallColumn{
	width: 30%;
	vertical-align: middle;
}
.smallColumn img{
	max-width: 100%;
	max-height: 100%;
	float: right;
}
/*--------------------------------------------------------------------*/
#footer p{
	text-align:center;
	padding-bottom:10px;
}
#footer{
	margin: 10px;
	text-align:center;
}
#footer img{
	border-color: #FFFFFF;
	border-radius: 20px;
}
/*--------------------------------------------------------------------*/
